/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* /////////////////////reset css above ///////////////////// */
body{
	font-family: Comfortaa, Helvetica, sans-serif;

}

.login-box{
	
}
form {
	width: 70vw;
	height: auto;
	margin:8em auto;
	color: black;
	padding: 40px;
	border-radius: 5px;
	font-size: 14px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	box-shadow: 10px 10px 42px -16px rgba(0,0,0,0.75);
	align-self: center
}

.input-res
{
	 width: 30%;
	 font-size: 18px;
	 color:#999;
	 font-weight: 300;
	 height:36px;
     box-sizing: border-box;
     margin-left: 5%;
}

/* input[type="submit"] {
	margin-top: 3%;
	margin-left: 6%;
	font-size: 15px;
} */

.formlabel {
	text-align: center;
	color: #a8c5ed;
}

h4.formlabel {
	margin-bottom: 2%;
	font-size: 1em;
	margin-top:15px;

}


/* input[type="text"], input[type="password"]  {
	line-height: 28px;
	font-size: 25px;
	border: 1px solid gray;
} */

body {
	background: url('../images/background.jpg') ;
	background-position: top;
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.buttons {
	position: relative;
	height: 30vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.button{
	width: 200px;
	height: 60px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	background-color: white;
	color: black;
	font-family: Comfortaa, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:all 0.15s linear ;
}

.button:hover{
	background:#F9CF6D;
	transition:all 0.15s linear ;
	box-shadow: 10px 10px 25px -3px rgba(0,0,0,0.28);
}
.button > a:hover{
	color:#fff;
}


.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.backgroundImage {
	position: absolute;
	top: 0;
	width: 100%;
 	height: 100%;
 	background-image: url('./background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: blur(5px) grayscale(50%);
}
h2{
	font-size: 28px;
	margin-bottom: 2em;
}
.forTitle {
 	position:relative;
 	text-align: center;
 	font-size: 48px;
 	width: 90%;
 	height: auto;
	padding: 20px 10px;
	margin: 60px auto 0px auto;
	font-weight: bold;
}
.logoContainter{
	width: 100vw;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
}
.logo{
	position: relative;
	width: 20vw;
	height: 20vw;
}
@media screen and (max-width: 992px) {
	.forTitle {
  	font-size: 48px;
  }
	.logo{
		position: relative;
		width: 50vw;
		height: 50vw;
	}
}
@media screen and (max-width: 992px) {
	.forTitle {
  	font-size: 48px;
  }
	.logo{
		position: relative;
		width: 50vw;
		height: 50vw;
	}
}

.submitBtn{
	display:inline-block;
	margin-top:2em;
	margin-bottom:4em;
	font-size: 1em;
	padding:10px 20px;
	background-color: #fff;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:6%;
	font-family: Comfortaa, sans-serif;
	cursor: pointer;
}